// nextflow.config
nextflow.enable.dsl=2

process {
    executor = 'local'
    memory = '8 GB'
    cpus = 4
    time = '6h'
    
    // Remove container / Docker usage since you installed SPAdes locally
    container = null
}
process {
    withName: 'quast' {
        // Use the full path to your quast conda environment
        conda = '/home/abhishek/miniforge3/envs/quast'
    }
}

// You can add a profile for easy switching
profiles {
    conda {
        conda.enabled = true
    }
    docker {
        docker.enabled = true
    }
}
